@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1:rgb(11, 65, 11);

    --color4:rgb(107, 248, 107);
    --color5: rgb(194, 252, 194);
}

body{
    background-color: var(--color5);
}

header{
    background-color: var(--color1);
    margin: auto;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.089);
}
header h1{
    text-align: center;

    text-shadow: 3px 3px rgba(0, 0, 0, 0.253);

    color: white;
}

main{
    max-width: 600px;
    margin: auto;
    padding: 10px;

    background-color: white;
}

footer{
    margin: auto;

    text-align: center;
    color: white;

    background-color: var(--color1);
}
footer strong{
    color: var(--color5);
}

footer a{
    color: var(--color4);
    text-decoration: none;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}
