*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    
    color: white;
    background-color: black;
}

h1,h2{
    margin: 10px;

    font-size: 2.5em;
}

h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
}

header{
    padding: 20px;
    text-align: center;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 10px;

    background-color: rgb(58, 58, 58);
}

::-webkit-scrollbar-button{
    background-color: rgb(83, 83, 83);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(83, 83, 83);
}