
<form action="/formulario" method="post">
    <p>Título: <input type="text" name="titulo" id="titulo"></p>
    <p>Conteúdo: <input type="text" name="conteudo" id="conteudo"></p>
    <button type="submit">Cadastrar Postagem</button>
</form>